<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a href="/" class="navbar-brand">
    <img src="" alt="" width="30" height="30" />
    <span>YelpCamp</span>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <div class="btn-group">
          <a href="/campgrounds" class="nav-link btn btn-link">Campgrounds</a>
          <a
            href="#"
            class="nav-link btn btn-link dropdown-toggle dropdown-toggle-split"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <span class="sr-only">Toggle Dropdown</span>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/campgrounds/new">New Campground</a>
          </div>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav">
      <% if (!user) { %>
      <li class="nav-item">
        <a href="/login" class="nav-link">Login</a>
      </li>
      <li class="nav-item">
        <a href="/register" class="btn btn-outline-primary">Register</a>
      </li>
      <% } else { %>
      <span class="navbar-text mr-2">
        You're logged in as '<span style="text-transform: capitalize;"
          ><%= user.username %></span
        >'
      </span>
      <li class="nav-item">
        <a href="/logout" class="btn btn-outline-primary">Logout</a>
      </li>
      <% } %>
    </ul>
  </div>
</nav>
