<% include partials/head %>

<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4 mt-5 text-center">
      <h1>YelpCamp</h1>
      <p class="lead">
        Home of the finest campgrounds all over the United States.
      </p>
      <a href="/campgrounds">View all Campgrounds</a>
    </div>
  </div>
</div>

<% include partials/foot %>
